.navbar {
    height: 50px;
    align-items: center;
    display: flex;
    font-size: 14px;
    color: #555;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    .wrapper {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        justify-content: space-between;
        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background-color: transparent;
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
        .items {
            display: flex;

            .item {
                display: flex;
            position: relative;
                align-items: center;
                margin-right: 20px;
                .icon {
                    font-size: 20px;
                }
                .avatar {
                    width: 30px ;
                    height: 30px;
                    border-radius: 50%;
                }
                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    align-items: center;
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    color: white;
                    font-weight: bold;
                    top: -5px;
                    right: -5px;

                }
            }
        }
    }
}